/******************************** Home containers ********************************/
.row {
	padding: 0;
	margin: 0;
}

/******************************** Profile resume ********************************/


.profile .stats {
	flex-direction: row;
}

/******************************** Top songs list ********************************/
.topList {
	background-color: lightblue;
}

table {
	width: 100%;
}

/******************************** Timeline ********************************/

